@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: 'Michroma', sans-serif;
}

h5, .h5 {
    font-size: 1.7em;
  }

.btn-group button {
width: 100%;
}

.field {
    height: 75px;
}

.grid {
    width: 100%;
}

.card {
    width: 97%;
}

.p-divider {
    background-color: #196CB9;
}

.cv {
    color: blue;
}
