@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: 'Michroma', sans-serif;
    background-color: #F9FEFF;
    
}

h5, .h5 {
    font-size: 1.7em;
  }

.btn-group button {
width: 100%;
}

.field {
    height: 75px;
}

.grid {
    width: 100%;
}

.card {
    width: 97%;
}

.p-divider {
    background-color: #3B82F6;
}

.cv {
    color: blue;
}

.p-inputtext {
    color: #050505;
    transition: background-color #050505;
}

.p-float-label {
    
    .label {
        color: black;
        font-weight: bold;
    }
}

.p-button-rounded {
    .p-button-info {
        size: 10rem;
    }
}
    
.p-tabmenu-nav {
    background-color: #3B82F6 !important;
}

.p-tabmenuitem {
    background-color: #3B82F6!important;
}
.p-menuitem-link {
    background-color: #3B82F6 !important;
}
.p-menuitem-text {
    color: white !important;
    font-size: 120%;
    
}
.p-menuitem-icon {
   color: white !important;
}




